{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="padding">
        <div class="full col-xs-12">

            <!-- content -->
            <div class="row">

                <!-- main col left -->
                <div class="col-xs-12 col-lg-8">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            {# <img class="img-responsive" src="{{ asset('assets/unnamed.jpg') }}"/> #}
                            <div>
                                {% for i in 1..20 %}
                                    <div class="grid-item"></div>
                                    <div class="grid-item"></div>
                                    {#    {% for j in 1..1 %}
                                            <div class="grid-item grid-item--2"></div>
                                        {% endfor %}#}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="lead">Inscription</h1>
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_widget(form) }}
                            <div class="text-center">
                                <button class="btn btn-success btn-block" type="submit">Valider</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var $grid = $('.grid').isotope({
    itemSelector: '.grid-item',
    masonry: {
    columnWidth: 100

    }
    });

    $grid.on( 'click', '.grid-item', function( event ) {
    $( event.currentTarget ).toggleClass('is-expanded');
    $grid.isotope('layout');
    });
    </script>
{% endblock %}